#label{
  margin-top:120px;
}

.img-label-col{
  margin-top:20px;
  text-align:center;
  padding:50px;
  margin-bottom:50px;
  margin-left:20px;
  border:solid 1px black;
  background-color:white;
  box-shadow:2px 2px gray;
}
.div-remote{
  margin: 0px;
  margin-left: 10px;
  width: 500px;
  text-align: right;
}
.btn-remote{
  margin: 0px;
  border-radius: 0px;


}

.img-label{
  width:400px;
}

.slider{
  -webkit-appearance:none;
  width:100%;
  height:15px;
  border-radius:5px;
  background:#b1b0b0;
  outline:none;
  opacity:0.7;
  -webkit-transition:.2s;
  transition:opacity .2s;
}

.slider:hover{
  opacity:1;
}

.slider::-webkit-slider-thumb{
  -webkit-appearance:none;
  appearance:none;
  width:25px;
  height:25px;
  border-radius:50%;
  background:#4CAF50;
  cursor:pointer;
}

.slider::-moz-range-thumb{
  width:25px;
  height:25px;
  border-radius:50%;
  background:#4CAF50;
  cursor:pointer;
}

.slider::-moz-range-thumb{
  width:25px;
  height:25px;
  border-radius:50%;
  background:#4CAF50;
  cursor:pointer;
}

input#myRange.slider.blocked{
  cursor:auto;
}

input#myRange2.slider.blocked{
  cursor:auto;
}

.label-information{
  margin-top:0px;
  text-align:center;
}

div.col-md-12.rate{
  margin-top:20px;
}

.label-comment{
  margin-top:100px;
}

.label-comment input{
  width:100%;
  height:50px;
  border-radius:0;
  font-size:18px;
  padding:20px;
  box-shadow:1px 1px gray;
}

#btn-label-sekip-col{
  margin-top:50px;
  margin-bottom: 50px;
}

#btn-label-valid-col{
  margin-top:100px;
}

#btn-skip{
  font-size:24px;
  border-radius:0px;
}

#btn-valid{
  font-size:24px;
  border:solid 1px rgb(51,122,183);
}

body#body1{
  background-color:rgb(236,239,244);
}

.myRange2{
  margin-top:20px;
  margin-bottom: 10px;
}

#myRange{
  background:rgb(140,138,138);
}

.label-bis{
  margin:20px;
  background-color:white;
}

.label-bis img{
  width:100%;
}

.info-label-bis{
  margin-top:50px;
}

img.card-img-top{
  width:100%;
  height:200px;
}

.card-body h4{
  margin:20px;
  border-bottom:solid 1px black;
}

div.slider-div{
  margin:20px;
}

p.range-label{
  text-align:center;
  margin-top:10px;
}

p.card-text{
  margin:20px;
  text-align:left;
}

.card-body .btn{
  text-align:right;
  border-radius:0px;
  margin:0px;
}

.card{
  background-color:white;
  min-height:550px;
  max-height:560px;
  text-align:center;
}

div.card-btns{
  text-align:right;
  margin-bottom:20px;
}
#submit{

  margin-bottom: 20px;

  height: 50px;

  border-radius: 0px;

  background-color: #2aabd2;

  color: white;
  font-size:24px ;

  border-color: #2aabd2;
  width: 25%;
}

#submit:hover {

  background-color: #34495E;
  border-color:  #34495E;

  color: #2aabd2;

}


div#a.col-md-4.card-bis-1{
  height:550px;
}

h4.card-title.border-bottom.pb-3{
  text-align:center;
}

h4.card-h4{
  text-align:left;
}

