img#img-drop{
  border-radius:100%;
  width:30px;
}

div#drop-col.col-md-3.col-md-offset-7{
  text-align:right;
}

ul.dropdown-menu{
  z-index:9999;
}

a#drop-btn.btn.btn-link.dropdown-toggle{
  margin-left:100px;
}

