

.infor-row{

    margin: 50px;

}
#modifier-btn{
    text-align: center;
    margin-bottom: 20px;
}

.btn-col{
    text-align: center;
}

.input-info{
    border-radius: 0px ;
    height: 50px;

}
#changeP{
    border: solid 1px blue;
    margin-bottom: 20px;
}
.changeP-col{
    text-align: center;
}
#photo-profile-d4{
    margin: 50px;
    background: white;
    text-align: center;
    padding: 50px;

}